*.so
*.i
*.s
*.o
*.tab.*
*.lex.*
*.tokens.*
*.states.*
*.errtab.*
exports
/fab/fab
/fab/make64.sh
/fab/install64.sh
/listwise/listwise/listwise
/listwise/listwise/lw
/listwise/liblistwise/error/PCRE.errtab
/libxapi/error/SYS.errtab
