*.so
*.i
*.s
*.o
*.tab.*
*.lex.*
*.tokens.*
*.states.*
*.errtab.*
/fab/fab
/fab/make64.sh
/fab/install64.sh
/listwise/listwise
/listwise/lw
/liblistwise/exports
/liblistwise/error/PCRE.errtab
/xapi/libxapi/exports
/libxlinux/exports
/libxapi/error/SYS.errtab
