*.so
*.a
*.i
*.s
*.o
*.tab.*
*.lex.*
*.tokens.*
*.states.*
*.errtab.c
**/errtab/*.errtab.h
exports
*.final
*.debug
*.devel
*.1.gz
*.errorcode
*.stacktrace
*.stacktrace_checks
/common/*/test
*.test
/tags
*.debug.xapi
*.devel.xapi
*.final.xapi
*.xapi
*.so.lnk
